<div class="col-xs-6">
  <div class="row">
    <p
      class="h3"
      [ngStyle]="{
        backgroundColor: '#faeee7',
        padding: '1rem 2rem',
        marginRight: '1rem'
      }"
    >
      Odd Numbers
    </p>
    <div *ngIf="oddNum.length > 0" class="row-xs-5">
      <p
        *ngFor="let num of oddNum; let i = index"
        [ngStyle]="{
          backgroundColor: '#ff8ba7',
          padding: '1rem 2rem',
          margin: '1rem'
        }"
      >
        {{ num }}
      </p>
    </div>
  </div>
</div>
