<div class="container">
  <!-- ======server name -->
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Server Name</span>
    <!-- <input
      [(ngModel)]="serverName"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    /> -->

    <!-- Templete Reference -->
    <input
      #inputServerName
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>
  <!-- =======server content -->
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"
      >Server Content</span
    >

    <!-- <input
      [(ngModel)]="serverContent"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    /> -->

    <!-- Using @ViewChild decorator -->
       <input
      #inputServerContent
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>
  <button
    [ngStyle]="{
      margin: '1rem 0'
    }"
    class="btn btn-primary"
    (click)="onAddServer(inputServerName)"
  >
    Add Server
  </button>
  <button
    [ngStyle]="{
      margin: '1rem'
    }"
    class="btn btn-primary"
    (click)="onAddBlueprint(inputServerName)"
  >
    Add Server Blueprint
  </button>
</div>
